* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Padauk', sans-serif; }

h2 {
  font-family: 'Padauk', sans-serif; }

header {
  background-color: #0093E9;
  background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: auto;
  height: 90px; }
  header .log {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 175%;
    justify-content: left;
    background-color: transparent;
    color: #E8F1F2;
    padding: 5px;
    margin: 10px;
    width: 40%;
    align-content: center; }
    header .log img {
      margin: 10px;
      align-self: center; }
  header nav .bar {
    background-color: transparent;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    margin: 15px;
    font-family: 'Inter', sans-serif; }
  header nav li {
    padding: 5px;
    margin: 10px;
    font-size: 120%;
    display: flex;
    text-align: center; }
  header nav a {
    display: flex;
    text-decoration: none;
    color: white; }
    header nav a:hover {
      font-style: italic;
      font-weight: bold; }

.intro {
  margin: 10px;
  background-color: white;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "link1 texto imagen" "link2 texto imagen";
  align-items: center;
  justify-items: center; }
  .intro .link1 {
    padding: 10px;
    margin: 30px;
    background-image: linear-gradient(to bottom, #0099ff, white);
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 125%;
    grid-area: link1;
    align-self: flex-end;
    border-radius: 5px;
    color: #13293D; }
  .intro .link2 {
    padding: 10px;
    margin: 30px;
    background-image: linear-gradient(to top, #0099ff, white);
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 125%;
    grid-area: link2;
    align-self: flex-start;
    border-radius: 5px; }
  .intro .texto {
    color: #08F;
    font-size: 220%;
    width: 90%;
    text-align: center;
    padding: 10px;
    margin: 20px;
    grid-area: texto;
    font-family: 'Inter', sans-serif;
    transition: all 3s ease-out; }
  .intro .imagen {
    border-radius: 50px;
    align-self: center;
    grid-area: imagen;
    width: 85%;
    margin: 10px; }

.intro1 {
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "escanea texto1" "imagen1 texto1";
  align-items: center;
  justify-items: center; }
  .intro1 .escanea {
    grid-area: escanea;
    font-size: 200%;
    margin: 25px;
    padding: 10px;
    color: #006494;
    background-color: #13293D;
    border-radius: 15px; }
  .intro1 .imagen1 {
    grid-area: imagen1;
    width: 150px;
    margin: 75px; }
  .intro1 .texto1 {
    grid-area: texto1;
    font-size: 150%;
    width: 70%;
    text-align: center; }

.intro2 {
  margin: 10px;
  background-color: white;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  grid-template-areas: "texto2 imagen2" "linkregistro imagen2";
  align-items: center;
  justify-items: center; }
  .intro2 .texto2 {
    grid-area: texto2;
    text-align: center;
    margin: 30px;
    padding: 15px;
    font-size: 125%;
    width: 60%; }
  .intro2 .linkregistro {
    grid-area: linkregistro;
    text-decoration: none;
    text-align: center;
    font-size: 150%;
    align-self: flex-start;
    padding: 10px;
    margin: 30px;
    background-image: linear-gradient(to bottom, #0099ff, white);
    width: auto;
    border-radius: 5px; }
  .intro2 .imagen2 {
    grid-area: imagen2;
    height: 300px;
    border-radius: 50px; }

footer {
  background-color: #0093E9;
  background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%); }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    width: 100%;
    list-style: none; }
    footer ul li a {
      width: 50%;
      padding: 5px;
      margin: 10px;
      font-size: 125%;
      text-decoration: none; }

.ingresoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px; }
  .ingresoForm h2 {
    font-size: 250%;
    text-align: center;
    margin: 30px;
    padding: 15px; }
  .ingresoForm form {
    text-align: center;
    margin: 30px; }
    .ingresoForm form div {
      margin: 15px; }
      .ingresoForm form div label {
        font-size: 110%; }
      .ingresoForm form div input {
        border-radius: 5px; }
  .ingresoForm a {
    text-decoration: none;
    margin: 30px;
    pad: 5px;
    font-size: 150%; }

.registroForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto; }
  .registroForm h2 {
    font-size: 250%;
    text-align: center;
    margin: 30px;
    padding: 15px; }
  .registroForm form {
    text-align: center;
    margin: 30px; }
    .registroForm form div {
      margin: 15px; }
      .registroForm form div label {
        font-size: 110%; }
      .registroForm form div input {
        border-radius: 5px; }
  .registroForm a {
    text-decoration: none;
    margin: 30px;
    pad: 5px;
    font-size: 150%; }

.seccionBenef {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas: "titulo titulo" "imgBenef1 textoBenef" "imgBenef2 textoBenef";
  justify-items: center;
  align-items: center; }
  .seccionBenef .titulo {
    grid-area: titulo;
    margin: 5px;
    font-size: 3rem; }
  .seccionBenef .imgBenef1 {
    grid-area: imgBenef1; }
  .seccionBenef .imgBenef2 {
    grid-area: imgBenef2; }
  .seccionBenef .textoBenef {
    grid-area: textoBenef;
    text-align: center;
    margin: 30px;
    padding: 10px;
    font-size: 1.25rem;
    width: 50%; }

.intro3 {
  margin: 30px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center; }
  .intro3 h2 {
    text-align: center;
    margin: 30px;
    padding: 15px;
    color: #006494;
    background-color: #13293D;
    border-radius: 15px;
    width: 50%; }
  .intro3 .cajas .caja1 {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    width: 25%;
    border-radius: 15px;
    background-color: #006494; }
    .intro3 .cajas .caja1 h3 {
      text-align: left; }
    .intro3 .cajas .caja1 p {
      text-align: left; }
  .intro3 .cajas .caja2 {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    width: 25%;
    border-radius: 15px;
    background-color: #247BA0; }
    .intro3 .cajas .caja2 h3 {
      text-align: left; }
    .intro3 .cajas .caja2 p {
      text-align: left; }
  .intro3 .cajas .caja3 {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    width: 25%;
    border-radius: 15px;
    background-color: #1B98E0; }
    .intro3 .cajas .caja3 h3 {
      text-align: left; }
    .intro3 .cajas .caja3 p {
      text-align: left; }
  .intro3 .cajas .caja4 {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    width: 25%;
    border-radius: 15px;
    background-color: #006494; }
    .intro3 .cajas .caja4 h3 {
      text-align: left; }
    .intro3 .cajas .caja4 p {
      text-align: left; }
  .intro3 .cajas .caja5 {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    width: 25%;
    border-radius: 15px;
    background-color: #247BA0; }
    .intro3 .cajas .caja5 h3 {
      text-align: left; }
    .intro3 .cajas .caja5 p {
      text-align: left; }
  .intro3 .cajas .caja6 {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    width: 25%;
    border-radius: 15px;
    background-color: #1B98E0; }
    .intro3 .cajas .caja6 h3 {
      text-align: left; }
    .intro3 .cajas .caja6 p {
      text-align: left; }

.intro4 .redes, .intro4 .redes .iconFb, .intro4 .redes .iconIg, .intro4 .redes .iconTw {
  width: 30%;
  margin: 30px;
  display: flex;
  background-color: #13293D; }

/* ESTILO MEDIAQUERIE */
@media screen and (max-width: 480px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    header .log {
      display: flex;
      flex-direction: column;
      font-size: 200%;
      justify-content: center; }
    header nav .bar {
      display: flex;
      flex-direction: column;
      font-size: 75%; }
  .intro {
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "texto texto" "link1 link2" "imagen imagen";
    justify-items: center;
    align-items: center;
    height: auto; }
    .intro .texto {
      font-size: 150%; }
  .intro1 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "escanea" "imagen1" "texto1";
    height: auto; }
  .intro2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, fr);
    grid-template-areas: "imagen2" "linkregistro" "texto2";
    height: auto; } }
