.seccionBenef{
    margin: 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas: 
       "titulo titulo"
       "imgBenef1 textoBenef"
       "imgBenef2 textoBenef"
    ;
    background-image: url(/images/897.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-items: center;
    align-items: center;
            
    .titulo{
        grid-area: titulo;
        font-size: 3rem;
        margin: 30px;
        padding: 15px;
        color: $color5;
        background-color: $color1;
        border-radius: 15px;
        letter-spacing: 2px;
        width: auto;
    }

    .imgBenef1{
        grid-area: imgBenef1;
        border-radius: 15px;
        height: 200px;
    }
    .imgBenef2{
        grid-area: imgBenef2;
        border-radius: 15px;
        height: 200px;
    }
    .textoBenef{
        grid-area: textoBenef;
        text-align: center;
        margin: 30px;
        padding: 10px;
        font-size: 1.25rem;
        width: 50%;
        color: $color1;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 35px;
    }

    .divVolver{
        align-self: center;
        margin: 15px;
        padding: 5px;
        background-color: $color2;
        background-image: linear-gradient(0deg, $color5 0%, $color4 75%, $color3 100%);
        border-radius: 5px;
        width: 150px;
        text-align: center;

        a{
            text-align: center;
            text-decoration: none;
            font-size: 150%;
            color: $color5;

            &:hover {
                font-style: italic;
                font-weight: bold;
            }
        }
    }

}