.contactoForm{
    align-items: center;
    justify-items: center;
    margin: 10px;
    height: 550px;
    background-image: url(https://image.freepik.com/vector-gratis/fondo-abstracto-ondulado-azul_1409-897.jpg?w=826);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h2{
        font-size: 2.5rem;
        margin: 30px;
        padding: 15px;
        color: $color5;
        background-color: $color1;
        border-radius: 15px;
        letter-spacing: 2px;
        width: 50%;
        text-align: center;
        align-self: center;

    }

    .divVolver{
        align-self: center;
        margin: 15px;
        padding: 5px;
        background-color: $color2;
        background-image: linear-gradient(0deg, $color5 0%, $color4 75%, $color3 100%);
        border-radius: 5px;
        width: 150px;
        text-align: center;

        a{
            text-align: center;
            text-decoration: none;
            font-size: 150%;
            color: $color5;

            &:hover {
                font-style: italic;
                font-weight: bold;
            }
        }
    }
}