.ingresoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;

    h2{
        font-size: 250%;
        text-align: center;
        margin: 30px;
        padding: 15px;
    }
    form{
        text-align: center;
        margin: 30px;
        
        div{
            margin: 15px;
            
            label{
                font-size: 110%;
            }
            input{
                border-radius: 5px;
            }
        }
    }
    a{
        text-decoration: none;
        margin: 30px;
        pad: 5px;
        font-size: 150%;
    }
}