.registroForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-image: url(/images/897.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;

    h2{
        font-size: 250%;
        text-align: center;
        margin: 30px;
        padding: 15px;
        color: $color5;
        background-color: $color1;
        border-radius: 15px;
        letter-spacing: 2px;
        width: auto;
    }
    form{
        text-align: center;
        margin: 30px;
        
        div{
            margin: 15px;

            label{
                font-size: 110%;
                color: $color1;
                font-weight: bold;
            }
            input{
                border-radius: 5px;
            }
        }
    }
    .divVolver{
        align-self: center;
        margin: 15px;
        padding: 5px;
        background-color: $color2;
        background-image: linear-gradient(0deg, $color5 0%, $color4 75%, $color3 100%);
        border-radius: 5px;
        width: 150px;
        text-align: center;

        a{
            text-align: center;
            text-decoration: none;
            font-size: 150%;
            color: $color5;

            &:hover {
                font-style: italic;
                font-weight: bold;
            }
        }
    }
}