$color1: #13293D;
$color2: #006494;
$color3: #247BA0;
$color4: #1B98E0;
$color5: #E8F1F2;
@import "body";
@import "header";
@import "main_index";
@import "footer";
@import "ingreso_form";
@import "registro_form";
@import "beneficios";

@mixin estilo_cajas ($bg){
    display: inline-block;
    margin: 15px;
    padding: 10px;
    width: 25%;
    border-radius: 15px;
    background-color: $bg;
    
    h3{
        text-align: left;
    }
    p{
        text-align: left;
    }
}

.intro3{
    margin: 30px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;

    h2{
        text-align: center;
        margin: 30px;
        padding: 15px;
        color: $color2;
        background-color: $color1;
        border-radius: 15px;
        width: 50%;
    }
    .cajas{
        
        .caja1{
            @include estilo_cajas($color2);
        }
        .caja2{
            @include estilo_cajas($color3);
        }
        .caja3{
            @include estilo_cajas($color4);
        }
        .caja4{
            @include estilo_cajas($color2);
        }
        .caja5{
            @include estilo_cajas($color3);
        }
        .caja6{
            @include estilo_cajas($color4);
        }
    }  

}

.intro4{
    .redes{
        width: 30%;
        margin: 30px;
        display: flex;
        background-color: $color1;
        .iconFb{
            @extend .redes;
        }
        .iconIg{
            @extend .redes;
        }
        .iconTw{
            @extend .redes;
        }
    
    }
    
}

/* ESTILO MEDIAQUERIE */

@media screen and (max-width: 480px) {

    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .log{
            display: flex;
            flex-direction: column;
            font-size: 200%;
            justify-content: center;

        }
        
        nav{
            .bar{
                display: flex;
                flex-direction: column;
                font-size: 75%;
            }
        }
        
    }

    .intro{
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "texto texto"
            "link1 link2"
            "imagen imagen";
        justify-items: center;
        align-items: center;
        height: auto;

        .texto{
            font-size: 150%;
        }
    }
    
    .intro1{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "escanea"
            "imagen1"
            "texto1";
        height: auto;
    }
    .intro2{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, fr);
        grid-template-areas: 
            "imagen2"
            "linkregistro"
            "texto2";
        height: auto;
    }


}