$color1: white;
@import "body";
@import "header";
@import "main_index";
@import "footer";

.ingresoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;

    h2{
        font-size: 250%;
        text-align: center;
        margin: 30px;
        padding: 15px;
    }
    form{
        text-align: center;
        margin: 30px;
        
        div{
            margin: 15px;
            
            label{
                font-size: 110%;
            }
            input{
                border-radius: 5px;
            }
        }
    }
    a{
        text-decoration: none;
        margin: 30px;
        pad: 5px;
        font-size: 150%;
    }
}

.registroForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    h2{
        font-size: 250%;
        text-align: center;
        margin: 30px;
        padding: 15px;
    }
    form{
        text-align: center;
        margin: 30px;
        
        div{
            margin: 15px;

            label{
                font-size: 110%;
            }
            input{
                border-radius: 5px;
            }
        }
    }
    a{
        text-decoration: none;
        margin: 30px;
        pad: 5px;
        font-size: 150%;
    }
}

.seccionBenef{
    margin: 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas: 
       "titulo titulo"
       "imgBenef1 textoBenef"
       "imgBenef2 textoBenef"
    ;
    justify-items: center;
    align-items: center;
    
    .titulo{
        grid-area: titulo;
        margin: 5px;
        font-size: 3rem;
    }

    .imgBenef1{
        grid-area: imgBenef1;
    }
    .imgBenef2{
        grid-area: imgBenef2;
    }
    .textoBenef{
        grid-area: textoBenef;
        text-align: center;
        margin: 30px;
        padding: 10px;
        font-size: 1.25rem;
        width: 50%;
    }

}

/* ESTILO MEDIAQUERIE */

@media screen and (max-width: 480px) {

    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .log{
            display: flex;
            flex-direction: column;
            font-size: 200%;
            justify-content: center;

        }
        
        nav{
            .bar{
                display: flex;
                flex-direction: column;
                font-size: 75%;
            }
        }
        
    }

    .intro{
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "texto texto"
            "link1 link2"
            "imagen imagen";
        justify-items: center;
        align-items: center;
        height: auto;

        .texto{
            font-size: 150%;
        }
    }
    
    .intro1{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "escanea"
            "imagen1"
            "texto1";
        height: auto;
    }
    .intro2{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, fr);
        grid-template-areas: 
            "imagen2"
            "linkregistro"
            "texto2";
        height: auto;
    }


}